.sunnyDay{
  background-image: url(../img/sunny-day.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 42em;
}

.catSunny{
  margin-left: 15em;
  margin-top: 20em;
  width: 50%;
}
